---
import Apps from '@components/Apps.astro';
import Experience from '@components/Experience.astro';
import Games from '@components/Games.astro';
import Header from '@components/Header';
import Home from '@components/Home.astro';
import Skills from '@components/Skills.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Portfolio">
    <Header client:load />

    <main class="relative w-full h-fit flex flex-col items-center">
        <Home />
        <div class="bg-gray-200 my-16 h-16 w-1 rounded-full hidden sm:block dark:bg-opacity-20"></div>
        <Apps />
        <Games />
        <Skills />
        <Experience />
    </main>
</Layout>
