---
import Header from '../components/Header.tsx';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfolio">
    <Header client:load />
    <main class="h-[10000px]">
       
    </main>
</Layout>
