---
import Apps from '@components/Apps.astro';
import Contact from '@components/Contact.astro';
import Experience from '@components/Experience.astro';
import Games from '@components/Games.astro';
import Header from '@components/Header';
import Home from '@components/Home.astro';
import Skills from '@components/Skills.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Portfolio">
    <Header client:load />

    <main class="relative w-full h-fit">
        <Home />
        <Apps />
        <Games />
        <Skills />
        <Experience />
    </main>

    <Contact />
</Layout>
