---
import { contactActions } from '@data/contact';
import { Icon } from 'astro-icon';
---

<div class="relative flex justify-center flex-wrap w-full h-fit gap-2">
    {
        contactActions.map(({ title, link, icon, label }) => (
            <a
                href={link}
                target="_blank"
                rel="noopener noreferrer"
                aria-label={label}
                class="flex p-4 gap-2 rounded-full items-center justify-center outline-none transition focus:scale-105 hover:scale-105 active:scale-105 font-medium text-gray-600 hover:text-gray-950 focus:text-gray-950 dark:text-gray-400 dark:hover:text-gray-200 dark:focus:text-gray-200 shadow-sm border border-gray-200 dark:border-gray-800 bg-white dark:bg-gray-950 !bg-opacity-75 backdrop-blur-md"
            >
                <Icon name={icon} class="w-6 h-6" />
                {title}
            </a>
        ))
    }
</div>
