---
import { experiences } from '@data/experience';
import Section from '@layouts/Section.astro';
import Timeline from './Timeline';
---

<Section title="My Experience" link="experience">
    <Timeline experiences={experiences} client:load />
</Section>
