---
import Section from '@layouts/Section.astro';
import Contact from './Contact.astro';
---

<Section>
    <footer class="w-full flex flex-col gap-2 items-center justify-center">
        <small class="text-sm">&copy; 2030 Carles Rojas. All rights reserved.</small>

        <p class="text-sm">
            <span class="font-semibold">About this website:</span> built with Astro 3.0 & React island components,
            Typescript, Tailwind CSS, Framer Motion & Vercel hosting.
        </p>
    </footer>

    <Contact />
</Section>
