---
import type { Project } from '@data/projects';
import Section from '@layouts/Section.astro';
import { Image } from 'astro:assets';

interface Props {
    project: Project;
}

const { project } = Astro.props;
const { title, screenshots, video, horizontal } = project;
---

<Section title="Screenshots" smallGap>
    <ul class="flex flex-wrap gap-4 sm:gap-6 items-center justify-center">
        {
            video && (
                <video
                    controls
                    autoplay
                    muted
                    class={`${
                        horizontal ? 'w-[32rem]' : 'h-[32rem]'
                    } max-w-full rounded-lg smrounded-xl cursor-pointer border border-gray-200 dark:border-gray-800 bg-white dark:bg-gray-950 !bg-opacity-75 backdrop-blur-md shadow-lg`}
                    src={video}
                />
            )
        }
        {
            screenshots.map((screenshot, index) => (
                <li class="relative">
                    <Image
                        class={`${
                            horizontal ? 'w-[32rem]' : 'h-[32rem]'
                        } max-w-full rounded-lg smrounded-xl border border-gray-200 dark:border-gray-800 bg-white dark:bg-gray-950 !bg-opacity-75 backdrop-blur-md shadow-lg`}
                        src={screenshot}
                        height={horizontal ? undefined : 512}
                        width={horizontal ? 512 : undefined}
                        alt={`screenshot ${index} for project ${title}`}
                    />
                </li>
            ))
        }
    </ul>
</Section>
