---
import SkillList from '@components/SkillList';
import Section from '@layouts/Section.astro';

const skills: string[] = Object.values((await Astro.glob('../assets/aboutme/skills.md'))[0].frontmatter);
---

<Section title="My Skills" link="Skills">
    <SkillList skills={skills} client:load />
</Section>
