---
import SkillList from '@components/SkillList';
import Section from '@layouts/Section.astro';
import type { Skill } from '@utils/data';

const skills: Skill[] = Object.values((await Astro.glob('../asset/aboutme/skills.md'))[0].frontmatter);
---

<Section title="My Skills" link="skills">
    <SkillList skills={skills} client:load />
</Section>
