---
import SkillList from '@components/SkillList';
import { skills } from '@data/skill';
import Section from '@layouts/Section.astro';
---

<Section title="My Skills" link="skills">
    <SkillList skills={skills} client:load />
</Section>
