---
import Description from '@components/Description.astro';
import Game from '@components/Game.astro';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
    const games = await Astro.glob(`../../asset/game/*.md`);

    return games.flat().map((project) => ({
        params: { route: project.frontmatter.route },
        props: { project: project.frontmatter },
    }));
}

const { project } = Astro.props;
const { title, route } = project;
---

<Layout title={title}>
    <main class="relative w-full h-fit">
        <Game project={project} />
        <Description project={project} />
    </main>
</Layout>
