---
import App from '../../components/App.astro';
import Description from '../../components/Description.astro';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
    const apps = await Astro.glob(`../../asset/app/*.md`);

    return apps.map((project) => ({
        params: { route: project.frontmatter.route },
        props: { project: project.frontmatter },
    }));
}

const { project } = Astro.props;
const { title } = project;
---

<Layout title={title}>
    <main class="relative w-full h-fit">
        <App project={project} />
        <Description project={project} />
    </main>
</Layout>
